body {
  margin: 0;
  /* height: 100%; */
}

.types {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #ff0066;
  height: 100vh;
}

img {
  width: 100px;
}

.Poison {
  background: #a040a0;
}

.Grass {
  background: #78c850;
}

.Fire {
  background: #f08030;
}

.Flying {
  background: #a890f0;
}

.Water {
  background: #6890f0;
}

.Bug {
  background: #a8b820;
}

.Normal {
  background: #a8a878;
}

.Dark {
  background: #705848;
}

.Electric {
  background: #f8d030;
}

.Psychic {
  background: #f85888;
}

.Ice {
  background: #98d8d8;
}

.Steel {
  background: #b8b8d0;
}

.Ground {
  background: #e0c068;
}

.Fairy {
  background: #ee99ac;
}

.Rock {
  background: #b8a038;
}

.Fighting {
  background: #c03028;
}

.Ghost {
  background: #705898;
}

.Dragon {
  background: #7038f8;
}
